.nav-wrap {
  width: 100%;
  height: 28px;
  background-color: black;
  position: sticky;
  top: 60px;
  z-index: 10;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      font-size: 0.6rem;
      padding: 0 7px;
      line-height: 28px;

      a {
        color: white;
      }

      a:hover{
            text-decoration: none;
            opacity: .7;
        }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .nav-wrap {
    // width: 100%;
    height: 32px;
    top: 80px;
    // background-color: black;

    ul {
    //   display: flex;
    //   justify-content: center;
    //   list-style: none;

      li {
        font-size: 0.7rem;
        padding: 0 1rem;
        line-height: 32px;

        // a {
        //   color: white;
        // }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-wrap {
      top: 120px;

    ul {

      li {
        font-size: 0.8rem;
        padding: 0 1.6rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 960px;
  }
}
