body {
  font-family: "Noto Serif", "Noto Sans JP", sans-serif, serif;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
}

.container-fluid,
.row,
.col-12,
.col-6 {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0 auto;
  background-color: white;
  max-width: 1200px;
}

a {
  color: #006fbe;
  // text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fd8c46;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-contents {
    width: 1200px;
    margin: 0 auto;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
